@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row">
    <div class="col-md-6">
        <div class="row" id="userSecret"></div>
        <div class="row"><button id="logOutBtn" class="btn btn-danger">Log out</button></div>
    </div>
</div>
<script>

    document.addEventListener("DOMContentLoaded", () => {
        
        $("#logOutBtn").click(() => {
            localStorage.removeItem("userToken");
            alert("you are logged out...")
            window.location.href = "/home/login"
        });

        const token = localStorage.getItem("userToken");
        if (!token) {
            console.log("token not found")
            alert("Please login first");
            window.location.href = "/home/login"
        } else {

        $.ajax({
            url: "http://localhost:5120/api/user",
            type : "GET",
            headers: {
            'contentType' : "application/json",
            'Authorization' : `Bearer ${token}`
            }
            ,
            success: (res) => {
                console.log(res);
                let innerhtml = "";
                res.forEach(user => {
                    innerhtml += `<h3>${user.name}</h3>`
                    
                })

                $("#userSecret").html(innerhtml);
            },
            error: (err) => alert("data not found")

        })
        }

    })
</script>
